//- Master index file for all project pages.

include ./mixins.jade

doctype 5
html
  head
    title= page_title
    block head
      meta(charset='utf-8')
      meta(content='IE=edge', http-equiv='X-UA-Compatible')
    block css
      link(type='text/css', rel='stylesheet', href='css/reset.css')
      link(type='text/css', rel='stylesheet', href='css/font-awesome.min.css')
      link(type='text/css', rel='stylesheet', href='css/styles.css')
    block js
  body
    #viewport
      header#site-header
        .content-boundary
          .col.col1
            h1#title= site_name
            h2#tagline= site_description

          .col.col2
            a.gh-link(href='#{proj_url}')
              i.icon.icon-github.icon-large
              span.text
                | View on
                span.bold GitHub

      article#main
        .content-boundary
          #content.col
            block content

            block dependencies

            block installation

            block usage

            block resources

            block troubleshooting

            block contacts

          #releases.col
            .inner
              block releases
                - each tag in tags
                  mixin release(proj_name, tag)

      footer#site-footer
        .content-boundary
          block footer
            .col.col1
              p Maintained by <a href="mailto:chris.albrecht@nrel.gov">Chris Albrecht</a>
              p NREL Communications Department

            .col.col2

            .col.col3
              ul.menu
                li
                  | <a href="#{proj_url}">Project Page</a>
                li
                  | <a href="#{proj_url}/issues">Issue Queue</a>
